@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-card-background: var(--card-background);
  --color-accent-background: var(--accent-background);
  --color-text: var(--text);
  --color-button-background: var(--button-background);
  --color-button-text: var(--button-text);
  --color-url: #0973ED;
  --color-url-clicked: #AF52DE;

}



/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

:root {
  --background: #000000;
  --card-background: #151515;
  --accent-background: #151515;
  --text: #ffffff;
  --button-background: #ffffff;
  --button-text: #000000;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Inter, Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

.link {
  color: var(--color-url);
  text-decoration: underline;
}

.link a:visited {
  color: var(--color-url-clicked);
  text-decoration: underline;
}

.card {
  background: var(--card-background);
  color: var(--text);
}

.button {
  background: var(--button-background);
  color: var(--button-text);
  border-radius: 8px;
}

input {
  background-color: var(--button-background);
  color: var(--button-text);
  border-radius: 8px;
}

.FormBox {
  height: 50%;
  width: 50%;
  min-height: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent-background);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  left: 25%;
}

.RegisterLogin {
  margin: 12.5% 12.5%;
}